body {
    background: rgb(158, 11, 169);
    background: linear-gradient(
      90deg,
      rgb(116, 9, 110) 0%,
      rgba(33, 44, 61, 1) 72%,
      rgb(15, 21, 29) 100%
    );
  }
  .dropdown-menu {
    background-color: rgba(0, 255, 255, 0);
    color:azure;
    border-color: aqua
  }
  
  .dropdown-item {
    color:azure;

  }

  .dropdown-divider{
    border-color: aqua 
  }